/*@import reset.css;*/

body {
  background-color: #edf2f6;
  display: grid;
  font-family: Open Sans, Sans-Serif;
  grid-template-columns: 15% 55% 30%;
  grid-template-rows: 60px 180px 455px 225px calc(100% - 920px)
}

a,
button {
  border: none;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
}

ul {
  list-style-type: none;
}

img {
  vertical-align: middle;
  width: 1rem;
}

/*Left Hand Navigation*/

nav {
  background-color: #354052;
  display: flex;
  flex-direction: column;
  grid-column: 1;
  grid-row: 1 / 6;
}

.nav--img--headshot {
  border-radius: 50%;
  margin: 2rem auto;
  width: 40%;
}

.nav--h3--user-name {
  margin: 0 auto 2rem;
}

.user-name-link {
  color: #FFFFFF;
  font-size: .8rem;
  opacity: .6;
  text-transform: inherit;
}

.user-name-link:hover {
  opacity: 1;
}

.dropdown-user-preferences-menu-icon {
  width: .6rem;
}

.nav--h4--menu-headers {
  border-top: .1rem solid #30394A;
  color: rgba(255, 255, 255, .3);
  font-size: .75rem;
  margin-bottom: .25rem;
  padding: 1.5rem 0 0 10%;
}

.nav--ul--navigation-bar {
  display: block;
  margin-bottom: 1rem;
  padding: 0;
  width: 100%
}

.nav--li--links { 
  opacity: .6;
  padding: .5rem 0 .5rem 10%;
  width: 100%;
}

.nav--li--links:hover {
  background-color: #30394A;
  border-left: .1rem solid #469BD5;
  opacity: 1;
}

.nav--li--icon,
.menu--img--location-marker {
  padding-right: .3rem;
}

.menu--img--location-marker {
  vertical-align: bottom;
}

.nav--a--links-text,
.nav--ul--p-categories {
  color: #FFFFFF;
  font-size: .8rem;
}

.nav--ul--p-categories {
  display: inline-block;
}

/* Top Navigation & Search Bar */

header {
  background-color: #FFFFFF;
  display: grid;
  grid-column: 2 / 4;
  grid-row: 1;
  grid-template-columns: 60px calc(100% - 240px) 60px 60px 60px;
  width: 100%
}

.header--button--style,
.header--input--search {
  background-repeat: no-repeat;
  border-collapse: collapse;
  border: 1px solid rgba(0, 0, 0, .2);
}

.header--button--style {
  background-position: center;
  background-size: 30px;
}

.header--button--style:hover {
   background-color: #15A4FA;
}

.expand-icon {
  background-image: url("images/expand-icon-default.svg");
  grid-column: 1;
  grid-row: 1;
}

.expand-icon:hover {
  background-image: url("images/expand-icon-hover.svg");
}

.header--input--search {
  background-image: url("images/search-icon.svg");
  color: #6F7A8B;
  font-size: 1rem;
  grid-column: 2;
  grid-row: 1;
  text-indent: 4rem;
  text-overflow: ellipsis;
}

.add-contact-icon {
  background-image: url("images/add-contact-icon-default.svg");
  grid-column: 3;
  grid-row: 1;
}

.add-contact-icon:hover {
  background-image: url("images/add-contact-icon-hover.svg");
}

.add-event-icon {
  background-image: url("images/add-event-icon-default.svg");
  grid-column: 4;
  grid-row: 1;
}

.add-event-icon:hover {
  background-image: url("images/add-event-icon-hover.svg");
}

.available-apps-icon {
  background-image: url("images/available-apps-icon-default.svg");
  grid-column: 5;
  grid-row: 1;
}

.available-apps-icon:hover {
  background-image: url("images/available-apps-icon-hover.svg");
}

/* Dashboard Menu */

menu {
  background-color: #FFFFFF;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  display: grid;
  grid-column: 2 / 4;
  grid-row: 2;
  grid-template-columns: 60% 40%;
  grid-template-rows: 30px 85px 50px;
  padding: 35px 5% 0;
}

/* Title Header */ 

h1 {
  font-size: 2rem;
  grid-column: 1;
  grid-row: 1;
  opacity: .6;
}

/* Right Hand Buttons */

.menu--section--button-bar {
  display: flex;
  grid-column: 2;
  grid-row: 1;
  justify-content: flex-end;
}

.menu--button--theme-outline {
  align-self: center;
  border-radius: 25% / 50%;
  border: .075rem solid rgba(0, 0, 0, .2);
  font-size: .75rem;
  font-weight: 700;
  margin: 0 1.5%;
  padding: .7rem;
}

.circular-button {
  border-radius: 50%;
}

.menu--button--theme-outline:hover {
  border-color: #15A4FA;
  color: #15A4FA;
}

.menu--button--img {
  vertical-align: bottom;
  width: 1rem;
}

/* Location Information */

.menu--section--location-link {
  grid-column: 1;
  grid-row: 2;
  padding-top: .75rem;
}

.menu--p--location {
  color: rgba(0, 0, 0, .5);
  display: inline-block;
  text-transform: inherit;
}

.menu--a--preview-link {
  color: #15A4FA;
  text-transform: inherit;
}

/* Dashboard Navigation Link List */

.menu--ul--dashboard-navigation-link-list {
  grid-column: 1 / 3;
  grid-row: 3;
}

.menu--li--dashboard-link {
  display: inline;
}

.menu--a--dashboard-link {
  color: rgba(0, 0, 0, .7);
  font-weight: 600;
  opacity: 1;
  padding: 0 1.25rem .5rem;
  text-transform: uppercase;
}

.menu--a--dashboard-link:hover {  
  border-bottom: .2rem solid #469BD5;
}

.dropdown-mobile-menu-icon {
  display: none;
}

/* Graph and User Dash Board Data */

.body--section--graph-dashboard {
  background-color: #EDF2F6;
  display: grid;
  grid-column: 2 / 4;
  grid-row: 3;
  grid-template-columns: 20% 20% 20% 40%;
  justify-content: space-around;
  padding: 1rem 0 0 3.5rem ;
}

.svg-circle-graph {
  justify-self: center;
  max-width: 300px;
}

.section--article--resume-graph {
  grid-column: 1;
  grid-row: 1;
}

.section--article--interview-graph {
  grid-column: 2;
  grid-row: 1;
}

.section--article--forwards-graph {
  grid-column: 3;
  grid-row: 1;
}

.graph-text {
  fill: #4E515E;;
  font-weight: 700; 
  transform: translateY(0.25em);
}

.graph-number {
  font-size: 0.5em;
  line-height: 1;
  text-anchor: middle;
  transform: translateY(-0.25em);
}

.graph-label {
  font-size: 0.15em;
  line-height: .1em;
  opacity: .5;
  text-anchor: middle;
  text-transform: uppercase;
  transform: translateY(0.2em);
}

.section--article--applicants-graph {
  grid-column: 4;
  grid-row: 1;
  margin: auto;
}

.section--article--applicants-graph-img {
  padding: 0 12.5%;
  width: 75%;
}

.graph-legend-button  {
  align-self: center;
  background-color: #FFFFFF;
  border-radius: 10% / 50%;
  border: .15rem solid #D2DAE2;
  color: #4E515E;
  font-size: .9rem;
  font-weight: 500;
  justify-self: center;
  padding: .75rem;
}

.section--button--circle-graphs-legend {
  grid-column: 1 / 4;
  grid-row: 2;
}

.section--button--bar-graph-legend {
  grid-column: 4;
  grid-row: 2;
}

.circle-graph-legend-view-count {
  display: inline-block;
  font-weight: 700;
}

.section--horizontal-line {
  align-self: center;
  grid-column: 1 / 5;
  grid-row: 3;
}

div {
  border-bottom: .15rem solid #D2DAE2;
  display: inline-block;
  width: 45.5%;
}

.section--horizontal-line-button {
  border-radius: 50%;
  border: .15rem solid #D2DAE2;
  margin: .4rem;
  padding: .7rem .65rem;
}

.section--horizontal-line-button:hover {
  background-color: rgba(0, 0, 0, .05);
}

/* Job Description and Information List */

main {
  align-self: center;
  background-color: #edf2f6;
  grid-column: 2;
  grid-row: 4 / 6;
}

.main--ul--job-description-list {
  background-color: #FFFFFF;
  border-radius: 5px;
  color: #6F7E95;
  margin: 4.5% 4% 3.5% 8%;
}

.ul--h4--job-description-list-header,
.ul--button--edit-job-description  {
  color: #FFFFFF;
  padding: 2rem 1.5rem;
}

h4,
.ul--button--edit-job-description,
.ul--p--job-description-salary {
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
  text-transform: uppercase;
  width: 200px;
}

.main--ul--job-description-header {
  background-color: #6F7E95;
  border-radius: 5px 5px 0 0;
}

.description-paragraph-header {
  vertical-align: top;
}
 
.ul--button--edit-img {
  margin-right: .25rem;
  vertical-align: bottom;
}

.ul--button--edit-job-description {
  background-color: rgba(255, 255, 255, .2);
  border-radius: 2px;
  display: inline;
  padding: .5rem 1rem;
}

.ul--button--edit-job-description:hover {
  background-color: rgba(0, 0, 0, .2);
}

.main--ul--li-row {
  border-bottom: 2px solid rgba(0, 0, 0, .1);
  margin: 0 1.5rem;
  padding: 2rem 0;
}

.ul--p--job-description-info {
  color: rgba(0, 0, 0, .6);
  display: inline-block;
  width: calc(100% - 225px);
  line-height: 1.5rem;
}

.main--ul--li-img {
  border-radius: 50%;
  width: 3rem;
  margin-right: 1rem;
}

.main--ul--li--bottom-row {
  border: 0;
}

/* Social Media Links */

.body--article--social-media--buttons {
  align-self: center;
  display: flex;
  flex-direction: column;
  grid-column: 3;
  grid-row: 4;
}

.article--button--social-media {
  border-radius: 5px; 
  border: 1px inset rgba(0, 0, 0, .2);
  color: #FFFFFF;
  font-size: .9rem;
  margin: 0 0 2% 2rem;
  padding: .75rem 2rem;
  text-transform: inherit;
  width: 75%;
}

.article--button--social-icon {
  position: relative;
  right: 1.75rem;
}

.facebook-button {
  background: linear-gradient(#456AC5, #4B71C2, #456AC5);
}

.twitter-button {
  background: linear-gradient(#049AE7, #01AAEF, #049AE7);
  padding-left: 1.5rem;
}

.linked-in-button {
  background: linear-gradient(#016DAD, #0381BC, #016DAD);
}

/* Input Links */

.body--article--input-links-section {
  color: #4E515E;
  display: grid;
  grid-column: 3;
  grid-row: 5;
  padding: 0 2rem;
}

.job-link-input {
  grid-row: 1;
}

.button-widget-link-input {
  grid-row: 2;
}

.email-resume-link-input {
  grid-row: 3;
}

.article--section--input-link {
  font-size: 1rem;
}

.article--img--input-link-icon {
  width: 2rem;
}

.article--h2--input-link-header {
  font-size: 1.25rem;
  font-weight: 700;
}

.article--p--input--link-description {
  line-height: 1.5rem;
  margin: 1rem 0;
  width: 90%;
}

.article-section--input-copy,
.article-section--input-email {
  border-radius: 5px 0 0 5px;
  border: none;
  color: #6F7A8B;
  font-size: 1rem;
  overflow: hidden;
  padding: 1rem;
  text-overflow: ellipsis;
  width: calc(87% - 70px);
}

.article--section--copy-button {
  background-color: #47BAC1;
  border-radius: 0 5px 5px 0;
  color: #FFFFFF;
  font-size: .825rem;
  font-weight: 700;
  margin-left: -5px;
  padding: 1.1rem;
  text-transform: inherit;
  vertical-align: bottom;
}

.article-section--input-email {
  border-radius: 5px;
  width: 87%;
}

/*Media Breaks*/

@media screen and (max-width: 1250px) {

  body {
    grid-template-columns: 3% 62% 35%;
  }

  /*Left Hand Navigation*/

  span,
  .nav--h3--user-name,
  .nav--h4--menu-headers,
  .nav--img--headshot {
    display: none;
  }

  nav {
    padding-top: 3.5rem;
  }

  .nav--li--links {
    padding: .75rem .4rem;
  }

  .graph-dashboard {
    padding: 1rem;
  }

  .body--article--input-links-section {
    padding: 0 0 0 3rem;
  }

  /* Job Description and Information */

  .main--ul--job-description {
    margin: 2rem 2.5rem;
  }

}

@media screen and (max-width: 1150px) {

  body {
    grid-template-rows: 60px 180px auto;
  }

  /*Left Hand Navigation*/

  nav {
    grid-row: 1 / 8;
  }

  /* Dashboard Menu */

  menu {
    padding: 35px 2.5% 0;
  }

  .menu--a--dashboard-link {
    padding: 0 1rem .5rem ;
  }

  .menu--ul--dashboard-navigation-link-list {
    justify-self: center;
  }

  /* Job Description and Information List */

  main {
    grid-column: 2 / 4;
    grid-row: 4 / 6;
  }

  /* Social Media Links */

  .body--article--social-media--buttons {
    flex-direction: row;
    grid-column: 2 /4 ;
    grid-row: 6;
    justify-content: space-between;
    margin: 2rem;
  }

  .article--button--social-media {
    margin: .5rem;
    padding: .75rem 1rem;
  }

  .article--button--social-icon {
      right: .9rem;
  }

  /* Input Links */

  .body--article--input-links-section {
    grid-column: 2 /4 ;
    grid-row: 7;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-evenly;
    margin: 0 .5rem 2rem;
    padding: 0;
  }

  .job-link-input {
    grid-column: 1;
  }

  .button-widget-link-input {
    grid-column: 2;
    grid-row: 1;
  }

  .email-resume-link-input {
    grid-column: 3;
    grid-row: 1;
  }

}

@media screen and (max-width: 1024px) {

  body {
    grid-template-columns: 0 65% 35%;
  }

  /*Left Hand Navigation*/

  nav {
    display: none;
  }

  /* Input Links */

  .body--article--input-links-section {
    grid-gap: 2rem;
    grid-template-columns: 80%;
    margin-left: 1rem;
  }

  .job-link-input {
    grid-column: 1;
  }

  .button-widget-link-input {
    grid-column: 1;
    grid-row: 2;
  }

  .email-resume-link-input {
    grid-column: 1;
    grid-row: 3;
  }

}

@media screen and (max-width: 950px) {

  body {
    grid-template-rows: 60px 247px auto
  }

  /* Dashboard Menu */

  menu {
    grid-template-columns: 100%;
    grid-template-rows: auto auto 50px 44px;
  }

  /* Right Hand Buttons */

  .menu--section--button-bar {
    grid-column: 1;
    grid-row: 3;
    justify-content: flex-start;
  }

  /* Dashboard Navigation Link List */

  .menu--ul--dashboard-navigation-link-list {
    grid-column: 1;
    grid-row: 4;
    justify-self: start;
    align-self: center;
  }

 .menu--a--dashboard-link {
    display: none;
  }

  .dropdown-mobile-menu {
    display: inline;
  }

  .dropdown-mobile-menu-icon {
    display: inline;
    padding-left: .5rem;
  }

  /* Graph and User Dash Board Data */

  .body--section--graph-dashboard {
    grid-template-columns: 33% 33% 33%;
    grid-row-gap: 1rem;
    padding: .5rem;
  }

  .section--article--resume-graph {
    grid-column: 1;
    grid-row: 1;
  }

  .section--article--interview-graph {
    grid-column: 2;
    grid-row: 1;
  }

  .section--article--forwards-graph {
    grid-column: 3;
    grid-row: 1;
  }

  .section--button--circle-graphs-legend {
    grid-column: 1 / 4;
    grid-row: 2;
  }

  .section--article--applicants-graph {
    grid-column: 1 / 4 ;
    grid-row: 3;
  }

  .section--button--bar-graph-legend {
    grid-column: 1 / 4;
    grid-row: 4;
  }

  .section--horizontal-line {
    grid-column: 1 / 4; 
    grid-row: 5;
  }

  div {
    width: calc(50% - 43px);
  }

}

@media screen and (max-width: 650px) {

  body {
    grid-template-rows: 60px 247px auto
  }

/* Top Navigation & Search Bar */

  header {
    grid-template-columns: 60px calc(100% - 60px);
    width: 100%
  }

  .expand-icon {
    background-image: url("images/expand-icon-default.svg");
    grid-column: 1;
    grid-row: 1;
  }

  .add-contact-icon,
  .add-event-icon,
  .available-apps-icon {
    display: none;
  }

  /* Dashboard Menu */
  /* Title Header */ 

  h1 {
    font-size: 1.6rem;
  }

  /* Graph and User Dash Board Data */

  .body--section--graph-dashboard {
    grid-gap: 1rem;
    grid-template-columns: 90%;
    justify-content: space-evenly;
  }

  .section--article--interview-graph {
    grid-column: 1;
    grid-row: 2;
  }

  .section--article--forwards-graph {
    grid-column: 1;
    grid-row: 3;
  }

  .section--button--circle-graphs-legend {
    grid-column: 1;
    grid-row: 4;
  }

  .section--article--applicants-graph {
    grid-column: 1;
    grid-row: 5;
  }

  .section--article--applicants-graph-img {
    padding: 0;
    width: 100%;
  }

  .section--button--bar-graph-legend {
    grid-column: 1;
    grid-row: 6;
  }

  .section--horizontal-line {
    grid-column: 1; 
    grid-row: 7;
  }

/* Job Description and Information List */

  h4,
  .ul--p--job-description-salary,
  .ul--p--job-description-info {
    display: block;
  }

  .ul--h4--job-description-list-header{
    display: inline-block;
    padding: 2rem 1rem;
    width: 150px
  }

  .ul--p--job-description-info {
    width: 100%;
  }

  .ul--button--edit-job-description {
    width: 90px;
  }

  /* Social Media Links */

  .body--article--social-media--buttons {
    align-self: center;
    display: flex;
    flex-direction: column;
  }

  .article--button--social-media {
    width: 95%;
  }

  .article--button--social-icon {
    right: 2rem;
  }

}









